* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body {
    background-color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: center;
}

.input-moves {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    
}

.input-moves input {
    width: 80%;
    height: 40px;
    border: none;
    background-color: bisque;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

.input-moves  .move-now {
    background-color: #0096FF ;
    color: white;
}

.input-moves input:focus::placeholder {
    color: transparent;
  }

#chess-grid {
    background-color: bisque;
    margin: 50px auto;
    height: 800px;
    width: 800px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
}

.rank {
    display: flex;
    height: 12.5%;
    border: 1px solid black;
}

.cell {
    height: 100%;
    width: 12.5%;
    border-left: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

